! source url: https://github.com/cloudhead/dotfiles/blob/master/.Xresources
!
! .Xresources
!
URxvt.scrollBar:           false
URxvt.saveLines:           8192
URxvt.internalBorder:      4
URxvt.externalBorder:      0
URxvt.highlightSelection:  true
URxvt.loginShell:          true
URxvt.termName:            xterm-256color
URxvt.letterSpace:         -1
URxvt.font:                xft:DejaVu Sans Mono:pixelsize=15
URxvt.boldFont:            xft:DejaVu Sans Mono:pixelsize=15:style=Bold
URxvt.colorBD:             #FFFFFF
URxvt.borderColor:         black
URxvt.scrollColor:         black
URxvt.underlineColor:      white
URxvt.foreground:          #FFFFFF
URxvt.background:          #111111
URxvt.mapAlert:            true
URxvt.cursorColor:         green
URxvt.geometry:            80x24

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

! VGA
*color0:  #000000
*color1:  #AA0000
*color2:  #00AA00
*color3:  yellow
*color4:  #0000AA
*color5:  #AA00AA
*color6:  #00AAAA
*color7:  #AAAAAA
*color8:  #666666
*color9:  #FF5555
*color10: #55FF55
*color11: #FFFF55
*color12: #5555FF
*color13: #FF55FF
*color14: #55FFFF
*color15: #FFFFFF
